@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e1e;
  color: white;
}

.navbarList {
  position: relative;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
}

.button {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  transform: scale(0);
  transform-origin: 85% 50%;
  transition: transform 0.3s cubic-bezier(0, 0, 0, 0.8);
  z-index: 0;
  border-radius: 2.5rem;
}

.button:hover::before {
  transform: scale(1);
}

.button:hover {
  color: black;
}

.button > * {
  position: relative;
  z-index: 1;
}

.underline-animation {
  text-decoration: underline transparent;
  text-underline-offset: 0.5rem;
  transition: 0.4s ease-in-out;
}

.underline-animation:hover {
  text-decoration: underline white;
  text-underline-offset: 0.1rem;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.duck {
  @apply absolute translate-y-64 -left-10 -rotate-20 -scale-x-100  md:translate-32;
}
.walnut {
  @apply absolute right-12 translate-y-24 md:translate-y-0;
}

.flex-main {
  @apply flex flex-col justify-center
}