@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e1e1e;
  color: var(--color-primary);
}

@theme {
  --color-midnight: #181616;
  --color-tertiary: #2b2727;
  --color-secondary: #FF3831;
  --color-primary: #FFFDDB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

p {
  font-family: var(--font-body);
}

.navbarList {
  position: relative;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
}

.underline-animation {
  text-decoration: underline transparent;
  text-underline-offset: 0.5rem;
  transition: 0.4s ease-in-out;
}

.underline-animation:hover {
  text-decoration: underline white;
  text-underline-offset: 0.1rem;
}

.line-clamp {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.duck {
  @apply absolute translate-y-64 -left-10 -rotate-20 -scale-x-100  md:translate-44;
}
.walnut {
  @apply absolute right-12 translate-y-24 md:translate-y-0;
}

.flex-main {
  @apply flex flex-col justify-center;
}
